<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidengine.ironcoderideas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.droidengine.ironcoderideas.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.droidengine.ironcoderideas.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.droidengine.ironcoderideas.PCLoginActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.droidengine.ironcoderideas.RegisteredTeamraisers"
            android:label="Teamraisers" >
        </activity>
        <activity
            android:name="com.droidengine.ironcoderideas.Progress"
            android:label="My Progress" >
        </activity>
        <activity
            android:name="com.droidengine.ironcoderideas.Email"
            android:label="Email"
			android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.droidengine.ironcoderideas.MakeGift"
            android:label="Make a Gift"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.droidengine.ironcoderideas.NearbyTeamraisersActivity"
            android:label="Nearby Teamraisers" >
        </activity>
        <activity
            android:name="com.droidengine.ironcoderideas.RegistrationActivity"
            android:label="Register" >
        </activity>
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBvijAcDptneQJyfd6rOCeSrrilwoyCq5U" />

    </application>

</manifest>